.modal_warp{
    position: fixed;
    top:0;      
    z-index: 9997;
    width: 100%;
    height: 100vh;
    background-color:rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
}
.modal{
    position: fixed;
    top:220px;
    z-index: 9998;
    width: 450px;
    height: 180px;
    background-color: #fff;   
    border-radius: 15px;
    box-shadow: 5px 5px black;
}
.modal_close{
    position: absolute;
    top:10px;
    right:10px;
    cursor: pointer;
    z-index: 9999;
    background-image: url("../img/close.png");
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: cover;
}
.modal_title{
    margin: 40px auto 5px;
    padding: 5px;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: #000;
    overflow: hidden;
}
.modal_contents{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    color: #000;
    padding:10px;
}
